body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slider-container {
  position: relative;
  width: 600px;
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.5s ease;
}
.slide {
  width: 100%;
  display: block;
  height: 400px;
}
button {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  z-index: 5;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.next{
  right: 0;
}
.right {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  
  border-left: 15px solid rgb(255, 255, 255);
}
.left {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  
  border-right:15px solid rgb(255, 255, 255); 
}